.tasks-menu{
    display: flex;
}
.tasks-menu__item{
    list-style: none;
    padding: 10px;
}
.task-wrapper{
    padding: 20px;
}
.calculator-form{

}
.calculator-form input,
.calculator-form select,
.calculator-form button{


    max-width: 600px;
}
.task-form__wrapper{
    max-width: 600px;
    margin: 0 auto
}
.bd-callout-warning {
    border-left-color: #f0ad4e;
}
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}